code: {
  font-family: sans-serif;
  background-color: gold;
}

p {
  font-family: 'Slabo 27px', serif;
}

ul {
  font-family: 'Slabo 27px', serif;
}

ol {
  font-family: 'Slabo 27px', serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Patua One', sans-serif;
}
